* {
    box-sizing: border-box;
}

html, body {
    background-image: linear-gradient(to bottom, rgb(51, 51, 51), rgb(112, 108, 97), rgb(51, 51, 51));
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    text-align: center;
    flex-direction: column;
}

h1 {
    margin: 0;
    color: rgb(225, 244, 243);
    font-size: 5em;
}

#counter {
    color: rgb(255, 255, 255);
    font-size: 15em;
    margin: 0;
    padding: 0;
}

.buttonGrp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.buttonGrp button {
    background-color: rgb(225, 244, 243);
    position: relative;
    width: 100px;
    height: 40px;
    color: rgb(51, 51, 51);
    font-size: 2em;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(225, 244, 243);
}

#down, #up, #reset {
    flex: 33.33%;
}